.container{
    width: 47.2rem;
    background-color: var(--section-color);
    height: 29.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

border-radius: 24px;
padding: 2.4rem 2.4rem 3.2rem 2.4rem;

}
.top_sm{
    height: auto ; 
    font: 1.2rem;
    margin-top: 1.4rem;
}
.top_bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top{
    width: 46.4rem;
    height: 9rem;
    display: flex;
    font-size: 1.2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: #FEFFFF;
}
.selector{
    width: 12.2rem;
    border: 1px solid rgba(245, 255, 248, 0.3);
    border-radius: 5rem;
    height: 4.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom{
    margin-top: 1rem;
    
    width: 100%
}

/* .subbtm{margin-top: 1.6rem;} */

