.searchbar{
    width: 31.8rem;
    border: 1px solid white;
    border-radius: 50px;
    height: 42px;
    padding-left: 1.8rem ;
    padding-right: 1.8rem;
    display: flex;
    align-items: center;
}
.search{
    font-size: 1.2rem;
    width: 85%
}

.searchIcon{
    width: 15%;
    display: flex;
   align-items: center;
}