.dashboardContainer{
    width: 98%;
    height: auto;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr ;
    grid-template-rows: 0.45fr 2.06fr 2.13fr 3.3fr 2.1fr;
    grid-template-areas: 
      "header header header header"
      "banner banner banner banner"
      "activity activity activity activity"
      "infographic infographic infographic infographic "
      "data data data data"
      ;
     grid-gap: 2rem 2rem;
     padding: 2rem
      
    
}
.date{
    font-size: 1.4rem;
    color: #FEFFFF
}

.info_sub{
    margin-top: .7rem;
}
.bannerContainer{
    display: flex;
    grid-area: banner;
    align-self:center;
    justify-self: center;
    margin-top: 3.2rem;
}

.headerContainer{
    grid-area: header;
    justify-self: center;
}

.activitiesContainer{
    display: flex;
    grid-area: activity;
    justify-content: space-evenly;
    
}
.infographicsContainer{
grid-area: infographic;
display: flex;
justify-content: space-evenly;

}
.dataContainer{
    grid-area: data;
    display: flex;
    align-items: center;

justify-self:center;
justify-content: space-evenly;
    
background-color: var(--section-color);
height: 15.5rem;
width: 103.6rem;

border-radius: 24px;
padding: 32px 24px 32px 0px;

}

.iconBody{
    width:4.2rem ;
    height: 4.2rem ;
    border-radius: 50%;
 background: #006BE94D;
 display:flex;
 
 justify-content: center;
 align-items: center
;
}
.dataBox{
    display: flex;
    width: 84.4rem;
    justify-content: space-evenly;
}
.info_txt{
    margin-top: 1.4rem;
}
.info{
    width: 13.2rem;
    height: 11.8rem;
    align-self:flex-start;
    font-size: 1.2rem;
}

.donutCont{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.donut{
    width: 16.6rem;
    height: 16.6rem;
}

.donutData{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}
.donutTop{
    width: 28rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid #8e9ba484;


}
.big{
    font-size: 1.6rem;
}
.donutBottom{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    text-align: center;
}