.container{
  /* background-color:var(--background-color) ; */
  /* display: grid; */
  /* grid-template-columns: 21% 75%; */
  /* position: relative; */
  display: flex;
  
  
  

}

.nav{
  width: 18%;
  height: 100%;
  display: flex;
  background-color: var(--section-color);
  justify-content: center;
  

}
.main{
  width: 82%;
  padding: 2rem 1rem;
}